@charset "utf-8";

/* CSS Document */
@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1194px) {
.navbar .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
	padding: 10px 10px;
	font-size: 11px;
}
.header-top .logo {
	width: 200px;
}
.fixed-header .logo a span {
    font-size: 0.7rem;
	}
	.fixed-header .logo a span + span {
    font-size: 0.4rem;
	}
	.select2-container {
    
    width: 177px !important;
    
}
}

@media only screen and (max-width: 1080px) {
.grid figure {
	min-width: 15rem;
}
.text-to-text h1.fade-text {
    font-size: 4rem;
    
}
.text-to-text h3.text-bg {
    font-size: 1rem;
    
}
.search-title {
    width: 18%;
}
.search-title h3 { font-size: 15px;
    height: 76px;}
	.search_form {
    width: 82%;
    
}
.select2-container {
    width: 132px !important;
   
}
}

@media only screen and (max-width: 994px) {
	.logo span {     font-size: 1.2rem;}
	.logo span + span {     font-size: 0.7rem;}
	
.navbar-brand {
	display: block;
	color: #fff !important;
	padding: 4px 15px;
	width: 100%;
	margin-right: 0;
}
.service-box {
	margin: 15px 0;
}
.grid figure {
	min-width: 21rem;
}
.header-top .logo {
	width: 250px;
	margin: 0 auto;
	float: none;
}
.header-top-right {
	margin: 10px auto;
	float: none;
	width: 100%;
	text-align: center;
}
.header-top-right ul {
	margin-left: 0;
}
.header-top-right ul li {
	font-size: 11px;
	margin: 0 11px;
}
.header-top-right ul.social-links li a {
	width: 26px;
	height: 26px;
	line-height: 26px;
}
.booking-btn {
	display: none;
}
.navbar {
    background-color: #e74c3c;
    padding: 0 15px;
}
.navbar-toggler-right {
	right: 0;
	top: 0;
	border: none;
}
.navbar-toggler-right:focus {
	outline: none;
}
.navbar-toggler-right span {
	display: block;
	cursor: pointer;
	color: #fff;
	background-image: none !important;
	position: relative;
}
.navbar-toggler-right span:before {content: "\f0c9";font-family: FontAwesome;display: block;margin-top: 5px;}
.dropdown-menu {
	transform: none;
	opacity: inherit;
	visibility: inherit;
	display: none;
	background-color: #2c3e50;
}
.dropdown-menu .dropdown-submenu {
	position: static;
	display: none;
	opacity: inherit;
	visibility: inherit;
	width: 100%;
	transform: none;
	background-color: #940408;
}
.show>.dropdown-menu, .sub-drop.open .dropdown-submenu {
	display: block;
}
.dropdown-menu .sub-drop .dropdown-toggle:after {
	content: "\f107";
	font-family: FontAwesome;
	right: auto;
}
.navbar .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
	font-size: 12px;
	color: #fff;
}
.review-form .form-group label {
	width: 100%;
}
.review-form h2.title {
	font-size: 20px;
}
}

@media only screen and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
.logo img {
	margin: 0 auto;
	width: auto;
}
.fixed-header .logo a img { margin: 0 auto; position: static;}
.fixed-header .logo a span { padding-left: 0;}
.left-block {
	display: none;
}
.left-block, .right-block {
	width: 100%;
}

.top-header .container, .package-section .container{
	
}

.hero-content {
       padding: 10px 0 35px 0;
    text-align: center;
    
}
.hero-content h2 {     font-size: 1.8rem;}
.hero-content h3 {
   font-size: 1.4rem;
    
}
#ticket_form { right: 0;}
.search-title { width: 100%;}
.search-title h3 {
    font-size: 22px;
    height: 54px;
}
.search-title:before { display: none;}
.search_form {
    width: 100%;
    padding: 19px 20px;
}
.newsletter, .footer-social, footer { text-align: center !important;}
.select2-container {
    display: block;
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 10px;
}
.search_form button { width: 100%;}
}

@media only screen and (max-width: 680px) {
.text-to-text h1.fade-text {
	font-size: 3.4rem;
}
.text-to-text h3.text-bg {
	font-size: 0.8rem;
	top: 40px;
}
.title h2 {
    font-size: 2.5rem;
    
}
.text-to-text {
	min-height: 80px;
}
.right-block article {
    padding: 0 15px;
}

.associate ul li {     width: 40px; height: 40px;}
.bottom-footer small + small { float: none;}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
