@charset "utf-8";

/* CSS Document */
@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1194px) {
.navbar .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
	padding: 10px 14px;
	font-size: 12px;
}
.header-top .logo { width: 200px;} 

}
@media only screen and (max-width: 1080px) {
	.grid figure {
    min-width: 15rem;
}
	}
@media only screen and (max-width: 994px) {
.navbar-brand {
	display: block;
	color: #fff !important;
	padding: 4px 15px;
}
.service-box { margin: 15px 0;}
.grid figure { min-width: 21rem;}
.header-top .logo {
	width: 250px;
	margin: 0 auto;
	float: none;
}
.header-top-right {
	margin: 10px auto;
	float: none;
	width: 100%;
	text-align: center;
}
.header-top-right ul {
	margin-left: 0;
}
.header-top-right ul li {
	font-size: 11px;
	margin: 0 11px;
}
.header-top-right ul.social-links li a {
	width: 26px;
	height: 26px;
	line-height: 26px;
}
.booking-btn {
	display: none;
}
.navbar-toggler-right {
	right: 0;
	top: 4px;
}
.navbar-toggler-right:focus {
	outline: none;
}
.navbar-toggler-right span {
	display: block;
	cursor: pointer;
	color: #fff;
}
.dropdown-menu {
	transform: none;
	opacity: inherit;
	visibility: inherit;
	display: none;
	background-color: #7b0306;
}
.dropdown-menu .dropdown-submenu {
	position: static;
	display: none;
	opacity: inherit;
	visibility: inherit;
	width: 100%;
	transform: none;
	background-color: #940408;
}
.show>.dropdown-menu, .sub-drop.open .dropdown-submenu {
	display: block;
}
.dropdown-menu .sub-drop .dropdown-toggle:after {
	content: "\f107";
	font-family: FontAwesome;
	right: auto;
}
.navbar .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
	font-size: 12px;
}
.review-form .form-group label { width: 100%;}
.review-form h2.title {     font-size: 20px;}
}

@media only screen and (max-width: 767px) {

.carousel-caption {
	padding: 10px 10px 10px 10px;
	left: 33px;
	bottom: 17px;
	max-width: 230px;
	display: none;
}
.carousel-caption h2 {
	font-size: 25px;
}
.carousel-caption p {
	font-size: 12px;
}
.carousel-caption a.btn {
	height: 30px;
	line-height: 100%;
	font-size: 10px;
	padding: 10px;
	margin-left: -68px;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: block;
}
.page-top h3, .breadcrumb { float: none;}
.team-info {
    margin-top: 20px;
}
}

@media only screen and (max-width: 680px) {
	.service-box {
    padding: 15px 15px;
    border-right: none;
    border-bottom: 1px solid #443f33;
}
.owl-dots { margin: 0 auto;}
.footer .bottom-footer small {  display: block;
    text-align: center !important;}
.footer .bottom-footer small + small {     float: none;
   }
   figure.classes-box { margin: 10px auto;}
	
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }