html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #2c3e50;
	counter-reset: section;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	min-height: 100%;
	position: relative;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	outline: none !important;
	margin: 0;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
.clear {
	clear: both;
}
/**********Preloader Css Start***********/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f24f00;
	z-index: 99;
	height: 100%;
}
#status {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/giphy.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -125px 0 0 -125px;
}
/**********Preloader Css End***********/
/**********Social Link Start***********/
.social-link {
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 2;
}
.social-link ul {
}
.social-link ul li {
}
.social-link ul li a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 16px;
	border-right: 3px solid #2e4984;
	display: block;
	background-color: #3b5998;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.social-link ul li a.twitter {
	border-right: 3px solid #0079a7;
	background-color: #00aced;
}
.social-link ul li a.google-plus {
	border-right: 3px solid #bf3f2f;
	background-color: #dd4b39;
}
.social-link ul li a.tripadvisor {
	border-right: 3px solid #0f9274;
	background-color: #00af87;
}
.social-link ul li a.instagram {
	border-right: 3px solid #a11c76;
	background-color: #bc2a8d;
}
.social-link ul li a:hover {
	width: 40px;
}
/**********Social Link End***********/
/*Bounce Css Start*/
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -moz-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -moz-transform: translateY(-30px);
 transform: translateY(-30px);
}
 60% {
 -moz-transform: translateY(-15px);
 transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-30px);
 transform: translateY(-30px);
}
 60% {
 -webkit-transform: translateY(-15px);
 transform: translateY(-15px);
}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -moz-transform: translateY(-30px);
 -ms-transform: translateY(-30px);
 -webkit-transform: translateY(-30px);
 transform: translateY(-30px);
}
 60% {
 -moz-transform: translateY(-15px);
 -ms-transform: translateY(-15px);
 -webkit-transform: translateY(-15px);
 transform: translateY(-15px);
}
}
/*Bounce Css End*/

/**********Common Css Start***********/
.blue-text, .blue-text i {
	color: #3498db;
}
.red-btn {
	background-color: #e74c3c;
	border-top: 5px solid #bd392c;
}
.title {
	margin-bottom: 50px;
}
.title h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
}
.title span {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.title .seperator {
	display: block;
	width: 275px;
	height: 1px;
	background-color: #c0c1c1;
	margin: 20px auto;
}
.title .seperator:before, .title .seperator:after {
	content: "";
	width: 59px;
	height: 3px;
	background-color: #c0c1c1;
	display: block;
	margin: -5px auto;
}
.title .seperator:before {
}
.white-text h2 {
	color: #fff;
}
.white-text span {
	color: #fff;
}
.white-text .seperator, .white-text .seperator:before, .white-text .seperator:after {
	background-color: #fff;
}
.padding {
	padding: 30px 0 60px 0;
}
.padding1{padding:0px 0 6px 0;}
.learn-btn {
	background-color: #2980b9;
	border-radius: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	position: relative;
	padding: 12px 17px;
	letter-spacing: 1px;
}
.learn-btn:before {
	content: "";
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 13px solid #2980b9;
	display: block;
	position: absolute;
	right: -14px;
	top: 0px;
}
.light {
	font-weight: 300;
}
/**********Common Css End***********/
.hero-section {
	background: url(../img/hero-img.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 30px;
}
/**********Top Header Css Start**********/
.top-header {
	background-color: rgba(44, 62, 80, 0.58);
	color: #fff;
	position: relative;
}
.top_header_left {
}
.top_header_left li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.top_header_left li i {
	margin-right: 10px;
}
#weather ul {
	display: none;
}
#weather h2 {
	color: #fff;
	font-weight: 900;
	margin-bottom: 0;
	font-size: 20px;
}
#weather i {
	color: #fff;
	font-size: 45px;
	margin-right: 0;
}
.top_header_right .btn {
	position: relative;
	padding: 11px 20px;
	color: #fff;
	font-size: 17px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 0.5px;
}
.top_header_right .btn i {
	margin-right: 5px;
	font-size: 20px;
}
/**********Top Header Css End**********/
/**********Bottom Header Css Start**********/
.bottom-header {
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.logo {
	position: relative;
}
.logo a {
	display: block;
}
.logo a img { width: auto;}
.logo span {
	display: block;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: 1px;
}
.logo span + span {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	margin-top: 7px;
}
/*Search Form Css Start*/
.search-wrap {
	margin: 25px 0;
}
.search-wrap .form-inline {
	position: relative;
	display: block;
	width: 100%;
}
.search-wrap .form-control {
	border-radius: 0;
	background-color: #ecf0f1;
	width: 300px;
	font-size: 14px;
	border: 1px solid #ccc;
	height: 46px;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding-right: 90px;
	font-family: 'Oswald', sans-serif;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
.search-wrap .btn {
	border-radius: 0;
	border: none;
	border-left: 4px solid #bd392c;
	background-color: #e74c3c;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
}
.search-wrap .form-control:focus {
	width: 100%;
}
/*Search Form Css End*/
/*Navbar Css Start*/
.navbar-brand {
	display: none;
}
.navbar {
	background-color: #ecf0f1;
	padding: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #2c3e50;
}
.navbar .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
	color: #2c3e50;
	padding: 15px 16px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.dropdown-menu .dropdown-item {
	color: #ecf0f1;
	border-bottom: 1px solid #253646;
	border-top: 1px solid #374c61;
	padding: 10px 16px;
}
.dropdown-menu {
	display: block;
	visibility: hidden; /* hides sub-menu */
	opacity: 0;
	min-width: 215px;
	padding: 0;
	margin-top: 0;
	background-color: #2c3e50;
	border: none;
	z-index: 9999 !important;
	border-radius: 0;
	-webkit-transform: translateY(-2em);
	-moz-transform: translateY(-2em);
	-o-transform: translateY(-2em);
	-ms-transform: translateY(-2em);
	transform: translateY(-2em);
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dropdown:hover .dropdown-menu {
	visibility: visible; /* shows sub-menu */
	opacity: 1;
	z-index: 999;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition-delay: 0s, 0s, 0.3s;
	-moz-transition-delay: 0s, 0s, 0.3s;
	-o-transition-delay: 0s, 0s, 0.3s;
	-ms-transition-delay: 0s, 0s, 0.3s;
	transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.dropdown-menu .dropdown {
	position: relative;
}
.dropdown-item {
	color: #fff;
	padding: 8px 18px;
	position: relative;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.dropdown-toggle::after {
	content: "\f107";
	font-family: FontAwesome;
	border: none;
	vertical-align: top;
	margin-left: 6px;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link {
	background-color: #2C3E50;
	color: #ecf0f1;
}
.dropdown-item:hover {
	background-color: #ecf0f1;
	color: #2C3E50;
}
.dropdown-item:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3498DB;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-o-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
	color: white;
}
.dropdown-item:hover:before, .dropdown-item:focus:before, .dropdown-item:active:before {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}


.dropdown-menu .dropdown-submenu {
	display: block;
	visibility: hidden; /* hides sub-menu */
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 100%;
	min-width: 200px;
	background-color: #3498DB;
	-webkit-transform: translateX(-2em);
	-moz-transform: translateX(-2em);
	-o-transform: translateX(-2em);
	-ms-transform: translateX(-2em);
	transform: translateX(-2em);
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dropdown-menu .sub-drop {
	position: relative;
}
.dropdown-menu .sub-drop a {
	position: relative;
}
.dropdown-menu .sub-drop .dropdown-toggle:after {
	content: "\f105";
	font-family: FontAwesome;
	right: 10px;
	position: absolute;
}
.dropdown-menu .sub-drop:hover .dropdown-submenu {
	visibility: visible; /* shows sub-menu */
	opacity: 1;
	z-index: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition-delay: 0s, 0s, 0.3s;
	-moz-transition-delay: 0s, 0s, 0.3s;
	-o-transition-delay: 0s, 0s, 0.3s;
	-ms-transition-delay: 0s, 0s, 0.3s;
	transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.dropdown-menu .dropdown-submenu li {
	display: block;
	list-style: none;
}

/*Navbar Css End*/
/*Fixed Header Css Start*/
.fixed-header {
	background-color: #2C3E50;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	padding: 5px 0;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.fixed-header .search-wrap {
	display: none;
}
.fixed-header .logo a img {
	width: 62px;
	position: absolute;
	top: 0;
	left: 0;
}
.fixed-header .logo a span {
	font-size: 1rem;
	padding-left: 68px;
	padding-top: 8px;
}
.fixed-header .logo a span + span {
	font-size: 0.6rem;
	margin: 0;
}
.fixed-header .navbar {
	background-color: transparent;
}
.fixed-header .navbar .navbar-nav .nav-link {
	color: #ecf0f1;
}
.fixed-header .navbar .navbar-nav .nav-link:hover, .fixed-header .navbar .navbar-nav .nav-item.active .nav-link {
	background-color: #ecf0f1;
	color: #2C3E50;
}
/**********Bottom Header Css End**********/

/**********Hero Content Css Start**********/
.hero-content {
	padding: 0px 0 35px 0;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}
.hero-content h2 {
	font-weight: 200;
	margin-bottom: 22px;
	text-shadow: 1px 1px 1px #000;
	font-size: 3.56rem;
}
.hero-content h3 {
	background-color: rgba(6,11,17, 0.6);
	color: #3498db;
	font-size: 3.06rem;
	text-transform: uppercase;
	padding: 15px;
	display: inline-block;
	font-weight: 600;
	text-shadow: 1px 1px 1px #000;
}
.drop-arrow {
	display: block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin: 0px auto;
	color: #fff;
	border-radius: 50%;
	border: 1px solid #fff;
	text-align: center;
	font-size: 26px;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
.drop-arrow:hover, .drop-arrow:focus {
	color: #fff;
}
/*First Section Css Start*/
.booking {
	background-color: #2c3e50;
	margin-bottom: 25px;
}
.search-title {
	width: 25%;
	position: relative;
	color: #ecf0f1;
	background-color: #e74c3c;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.search-title:before {
	content: "";
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid #e74c3c;
	display: block;
	position: absolute;
	top: 50%;
	right: -10px;
	margin-top: -15px;
}
.search-title h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px #000;
	font-weight: normal;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 76px;
}
.search_form {
	width: 75%;
	padding: 19px 20px;
}
/*Select Css Start*/
.select2-container {
	display: inline-block;
	width: 222px !important;
	margin-right: 10px;
}
.select2-container--default .select2-selection--single {
	height: 38px;
	background-color: #ecf0f1;
	border-radius: 0;
	border-bottom: 3px solid #acadad;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding-right: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: none;
	display: block;
	position: static;
	width: 34px;
	height: 34px;
	line-height: 34px;
	border-left: 1px solid #acadad;
	margin: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
	content: "\f107";
	font-family: FontAwesome;
	font-size: 16px;
	color: #acadad;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
	width: 34px;
	text-align: center;
	display: block;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-left: 1px solid #acadad;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
	content: "\f106";
	font-family: FontAwesome;
	font-size: 16px;
	color: #acadad;
}
/*Select Css End*/
.search_form button {
	font-size: 16px;
	color: #ecf0f1;
	background-color: #e74c3c;
	border-radius: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 1px 1px 1px #000;
	cursor: pointer;
	position: relative;
	padding: 7px 19px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.search_form button:before {
	border-bottom: 3px solid #bf3e31;
	border-left: 0;
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.search_form button:after, .search_form button:before {
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.search_form button:after {
	border-top: 0;
	border-right: 0;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.search_form button:hover::after, .search_form button:hover::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/*Activities Css Start*/
.activities-wrapper {
	padding: 50px 0 10px 0;
}
.act_box {
	position: relative;
	overlay: hidden;
	cursor: pointer;
}
.act_box .border {
	width: 62px;
	height: 5px;
	background-color: #e74c3c;
	display: block;
	margin-bottom: 15px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.act_box .act-content {
	position: absolute;
	bottom: 10%;
	left: 8%;
}
.act_box .act-content h3 {
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	display: inline-block;
}
.act_box .act-content h3 a {
	color: #ecf0f1;
	text-decoration: none;
}
.act_box:hover .border {
	width: 100%;
}
.grid-item {
	margin-bottom: 30px;
}
.act_box .overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(0, 0, 0, 0.85);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.act_box:hover .overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.act_box .overlay i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #018ab6;
	font-size: 20px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}
/*Activities Css End*/
/*First Section Css End*/
/*About Section Css Start*/
.about-section {
	display: flex;
	height: 100%;
}
.about-section article {
	padding: 0 15%;
}
.about-section div {
}
/*.left-block {
	background: url(../img/left-bg.jpg) no-repeat;
	background-size: cover;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 70px;
}*/
.right-block {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.right-block article {
	padding: 0;
}
.about-title {
	border-left: 10px solid rgba(255, 255, 255, 0.5);
	border-bottom: 10px solid rgba(255, 255, 255, 0.5);
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 60px;
	padding-left: 30px;
	float: left;
}
.about-title h2 {
	font-size: 3rem;
	color: #ecf0f1;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px #000;
	border-bottom: 5px solid #ecf0f1;
	display: inline-block;
	padding-bottom: 13px;/* width: 50%; */
}
.about-title h2:before {
	content: "";
}
.text-to-text {
	position: relative;
	min-height: 128px;
	margin-bottom: 12px;
}
.text-to-text h1.fade-text {
	color: #e0dada;
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: 700;
}
.text-to-text h3.text-bg {
    background-color: #3498db;
    color: #ecf0f1;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 34px;
    left: 396px;
}
.text-to-text h3.text-bg:before {
	content: "";
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-top: 10px solid #3498db;
	display: block;
	position: absolute;
	bottom: -10px;
	right: 0;
}
.right-block h4 {
	font-size: 1.8rem;
	color: #2c3e50;
	line-height: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.borer-bottom {
	width: 250px;
	height: 1px;
	background-color: #2980b9;
	display: block;
	margin: 20px 0;
	position: relative;
}
.borer-bottom:before {
	content: "";
	width: 73px;
	height: 5px;
	background-color: #2980b9;
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
}
.right-block .lead {
	color: #7d7d7d;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.right-block p {
	max-height: 155px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}
/*Package Css Start*/
.package-section {
	background-color: #ecf0f1;
	padding: 0 0 40px 0;
	margin-bottom: 35px;
}
.box-style {
	position: relative;
	cursor: pointer;
	z-index: 1;
	margin-bottom: 40px;
}
.box-style .image-wrapper {
	position: relative;
}
.box-style .image-wrapper .detail {
	display: block;
	background-color: rgba(44, 62, 80, 0.82);
	width: 102px;
	padding: 4px 10px;
	position: absolute;
	bottom: 0;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}
.box-style .image-wrapper .detail:after {
	content: "";
	border-top: 29px solid transparent;
	border-left: 15px solid rgba(44, 62, 80, 0.82);
	display: block;
	position: absolute;
	top: 0;
	right: -15px;
}
.box-style .box-content {
	background-color: #fff;
	padding: 10px 15px 15px 15px;
}
.box-style .box-content h3 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 10px 0 5px 0;
}
.box-style .box-content h3 a {
	color: #2c3e50;
}
.box-style .box-content p {
}
.box-style .box-content p i {
	margin-right: 2px;
}
.box-style .box-content p span {
	font-weight: bold;
	margin-left: 5px;
}
.box-style .price-tag {
	width: 70px;
	height: 70px;
	background-color: #e74c3c;
	text-align: center;
	border-radius: 50%;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	position: absolute;
	top: -32px;
	left: 88px;
	border: 2px solid #b93b2e;
	text-shadow: 1px 1px 1px #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.65);
	-ms-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.65);
	-o-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.65);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.65);
}
.box-style .price-tag span {
	display: block;
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
}
.box-style .blue-bg {
	background-color: #2980b9;
	border-color: #1e608c;
}
.box-style .orange-bg {
	background-color: #ff9f3c;
	border-color: #bb762e;
}
.box-style .green-bg {
	background-color: #288800;
	border-color: #237103;
}
.box-style:before, .box-style:after {
	z-index: -9999;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(-3deg);
}
.box-style:after {
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
/*Package Css End*/
/*Testimonial Css Start*/
.testimonial {
	background: url(../img/testimonial-bg.jpg);
	padding: 50px 0 80px 0;
}
.testimonial-info {
	max-width: 800px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}
.testimonial-info p {
	position: relative;
}
.testimonial-info p:before, .testimonial-info p:after {
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.testimonial-info p:after {
	content: "\f10e";
	margin-right: 0;
	margin-left: 10px;
}
.testimonial-info .name {
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	margin-top: 21px;
}
.testimonial-info .post {
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #fefefe;
	display: inline-block;
	max-width: 100%;
	flex: inherit;
	text-align: center;
	padding: 0;
	vertical-align: middle;
	margin: 0 5px;
}
.carousel-indicators li.active {
	width: 12px;
	height: 12px;
	background-color: #3498db;
	border: 1px solid #fefefe;
}
/*Testimonial Css End*/
/*Google Map Css Start*/
#map {
	height: 100px;
}
/*Google Map Css End*/
/*Footer Start*/
footer {
	background-color: #2d2c2c;
}
.newsletter {
	border-bottom: 1px solid #464545;
	padding: 15px 0 5px 0;
}
.newsletter b {
	display: inline-block;
	color: #a9a9a9;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	vertical-align: middle;
	font-weight: 900;
}
.newsletter form {
	display: inline-block;
	margin-left: 15px;
}
.newsletter form .form-group {
	display: inline-block;
	margin-bottom: 0;
}
.newsletter form .form-group .form-control {
	border-radius: 0;
	font-size: 12px;
	height: 42px;
}
.newsletter form button {
	border-radius: 0;
	height: 40px;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left: -5px;
	border: none;
	background-color: #2980b9;
	text-shadow: 1px 1px 1px #000;
}
.footer-social {
	padding: 6px 0;
}
.footer-social li {
	display: inline-block;
	list-style: none;
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	margin-left: 0;
}
.footer-social li a {
	color: #a9a9a9;
	display: block;/* border: 1px solid #9f9f9f; */
	font-size: 17px;
}
.footer-social li a:hover {
	color: #3498db;
}
.middle-footer {
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #464545;
}
footer h3 {
	font-size: 13px;
	color: #74c7ec;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
footer ul {
}
footer ul li {
	list-style: none;
	color: #a9a9a9;
	font-size: 13px;
	display: block;
	margin: 5px 0;
	letter-spacing: 0.5px;
	font-weight: 700;
}
footer ul li a {
	color: #a9a9a9;
}
.associate {
	padding: 15px 0;
	border-bottom: 1px solid #464545;
}
.associate ul {
	max-width: 500px;
	/*margin: 0 auto;*/
	/*text-align: center;*/
}
.associate ul li {
	width: 50px;
	vertical-align: middle;
	margin: 0 5px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	padding: 6px 5px;
	display: inline-block;
	overflow: hidden;
}
.associate ul li a {
	display: block;
}
.bottom-footer {
	padding: 10px 0;
	color: #a9a9a9;
}
.bottom-footer small {
	float: left;
	font-size: 12px;
}
.bottom-footer small + small {
	float: right;
}
.bottom-footer small a {
	color: #73c5ea;
}
/*Footer End*/
/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #000000;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
.scrollToTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
}
.scrollToTop i {
	line-height: 40px;
	font-size: 20px;
}
}
/********Ticket Form Css Start***********/
#ticket_form {
	display: none;
	position: absolute;
	top: 100%;
	right: 15px;
	width: 100%;
	background-color: #e74c3c;
	border-bottom: 5px solid #983127;
	z-index: 9;
	padding: 20px;
	max-width: 450px;
}
#ticket_form form {
}
#ticket_form form .form-group {
}
#ticket_form form .radio {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
#ticket_form form .radio input[type="radio"] {
	display: none;
}
#ticket_form form .radio input[type="radio"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 8px 0 0;
	vertical-align: middle;
	cursor: pointer;
}
#ticket_form form .radio input[type="radio"] + label span {
	background-color: #fff;
	border: 1px solid #c14138;
}
#ticket_form form .radio input[type="radio"]:checked + label span {
	background-color: transparent;
}
#ticket_form form .radio input[type="radio"] + label span, #ticket_form form .radio input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.4s linear;
	-o-transition: background-color 0.4s linear;
	-moz-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}
#ticket_form form .radio input[type="radio"]:checked + label span:before {
	content: "\f00c";
	font-family: FontAwesome;
	width: 17px;
	height: 17px;
	line-height: 17px;
	display: block;
	color: #a23125;
	background-color: #fff;
	text-align: center;
}
#ticket_form form .form-group .col-sm-6 {
	position: relative;
}
#ticket_form form .form-group .col-sm-6 i {
	position: absolute;
	top: 40px;
	right: 25px;
	color: #2c3e50;
}
#ticket_form form .radio label, #ticket_form form label {
	text-transform: uppercase;
	color: #fffefe;
	font-weight: bold;
}
#ticket_form form label {
	display: block;
}
#ticket_form form label i {
	margin-right: 10px;
}
#ticket_form form .form-control {
	height: 38px;
	border-radius: 0;
	border: none;
}
#ticket_form form .select2-container {
	width: 100% !important;
}
#ticket_form form .select2-container--default .select2-selection--single {
	background-color: #fff;
	border: none;
}
#ticket_form form .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-left: none;
	height: 36px;
}
#ticket_form form .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
	color: #2c3e50;
}
#ticket_form form .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #636363;
}
.ui-widget-content {
	background-color: #ffd8d4;
	width: 15em;
}
.ui-widget-header {
	border: 1px solid #da4334;
	background: #e74c3c;
	color: #fff;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.ui-widget-header .ui-icon {
	background-image: url(../img/ui-icons_ffffff_256x240.png);
}
.ui-datepicker th {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #6d2119;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #f7beb8;
	font-weight: normal;
	color: #77261d;
}
#ticket_form form .btn {
	background-color: #2c3e50;
	padding: 8px 10px;
	font-size: 15px;
}
#ticket_form form .btn i {
	font-size: 15px;
}
/********Ticket Form Css End***********/
.page-top {
	background: url(../img/pokhara-1.jpg) no-repeat 0 0;
	position: relative;
}
.page-top:before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.60);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.page-top h2 {
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	font-weight: 300;
}
.page-top .back-to-home a {
	background-color: #2c3e50;
	padding: 5px 20px;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.page-top .back-to-home i {
	margin-right: 3px;
}
.page-top .back-to-home a:before {
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #2b3d4f;
	display: block;
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -5px;
}
.page-top-content {
	padding: 60px 0;
}
.inner-content {
	padding: 40px 0;
}
.inner-content p {
	line-height: 25px;
	margin-bottom: 15px;
}
.inner-content p b {
	color: #0085ae;
}
.inner-content h3 {
	font-family: 'Oswald', sans-serif;
	margin: 15px 0;
}
.team {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
}
.team-info {
}
.team-info h3 {
	font-size: 23px;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	margin: 0;
}
ul.list {
}
ul.list li {
	list-style: none;
	position: relative;
	display: block;
	padding-left: 16px;
	margin-bottom: 7px;
}
ul.list li:before {
	content: "\f0b2";
	font-family: FontAwesome;
	font-size: 6px;
	position: absolute;
	top: 7px;
	left: 0;
}
.team-title {
	border-bottom: 1px solid #b5b4b4;
	margin-bottom: 10px;
	padding-bottom: 7px;
}
.team-social {
}
.team-social li {
	display: inline-block;
}
.team-social li a {
	display: block;
	color: #3b5998;
	margin-left: 10px;
	font-size: 16px;
}
.team-social li a.twitter {
	color: #00aced;
}
.team-social li a.instagram {
	color: #bc2a8d;
}
.team-social li a.googleplus {
	color: #dd4b39;
}
.category {
	margin-bottom: 20px;
}
.category h4 {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 15px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.category img.img-thumbnail {
	border-radius: 2px;
}
.category h4 a {
	font-size: 16px;
}
.category .relative {
	position: relative;
}
.category p.fact {
	font-size: 13px;
}
.category .btn {
	background-color: #2c3e50;
	border: 1px solid #233140;
	border-radius: 0;
	padding: 7px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}
.inner-content img {
	width: 100%;
}
.testimonial-wrap li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 90px;
	margin-bottom: 15px;
	color: #333;
}
.testimonial-wrap li span.avtar {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 32px;
	background-color: #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -45px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.testimonial-wrap li .testimonials {
	border: 1px solid #ccc;
	padding: 15px 15px;
	position: relative;
	background: transparent;
	min-height: inherit;
}
.testimonial-wrap li .testimonials:before, .testimonial-wrap li .testimonials:after {
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -10px;
}
.testimonial-wrap li .testimonials:after {
	border-right: 10px solid #fff;
	left: -8px;
}
.testimonial-wrap li p {
	font-size: 13px;
	line-height: 22px;
	margin-top: 6px;
}
.testimonial-wrap li .name {
	font-weight: bold;
}
.testimonial-wrap li .date {
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	float: right;
}
.review-form {
	border: 1px solid #ccc;
	padding: 20px;
	margin-left: 15px;
	margin-top: 40px;
	background-color: #fff;
}
.review-form h2.title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 11px;
	margin-bottom: 15px;
	max-width: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
.review-form .form-group {
}
.review-form .form-group label {
	display: inline-block;
	width: 20%;
}
.review-form .form-group label sup, .form-contact .form-group sup, .red {
	color: #F00;
}
.review-form .form-group button {
	float: right;
	background-color: #e74c3c;
	border-radius: 0;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}
.form-contact .form-group {
}
.form-contact .form-group .form-control {
	border-radius: 0;
	box-shadow: none;
}
.contact-info {
	margin: 20px 0;
}
.contact-info h3 {
	font-family: 'Oswald', sans-serif;
	color: #2c3e50;
	margin-bottom: 15px;
	font-weight: 300;
}
.contact-info ul {
}
.contact-info ul li {
	list-style: none;
	position: relative;
	padding-left: 50px;
	min-height: 50px;
	font-size: 18px;
	margin-bottom: 9px;
}
.contact-info ul li i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #2c3e50;
	text-align: center;
	color: #2c3e50;
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}
.contact-info ul li a {
}
.contact-form {
	margin-top: 20px;
}
.contact-form .form-control {
	font-size: 0.9rem;
	border-radius: 0;
	letter-spacing: 1px;
}
.contact-form .btn-outline {
	background-color: #e74c3c;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: 1px;
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #bd392c;
	text-transform: uppercase;
	cursor: pointer;
}
.contact-time {
	padding: 15px 20px;
	border: 1px solid #ccc;
}
.contact-time h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	font-weight: bold;
	font-size: 22px;
}
.contact-time h3 i {
	margin-right: 10px;
	font-size: 22px;
}
.contact-time ul {
}
.contact-time ul li {
	padding-left: 0;
	margin-bottom: 7px;
	min-height: inherit;
	border-bottom: 1px dashed #ccc;
}
.contact-time ul li:last-child {
	border-bottom: none;
}
.btn-wrap {
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-wrap a.enquirebtn {
	border: 1px #d7d2d2 solid;
	font-size: 20px;
	line-height: 30px;
	padding: 2px 10px;
	font-family: 'Lato', sans-serif;
	color: #333;
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;
}
.btn-wrap a.bookbtn {
	background: #555555;
	background: -moz-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #2e2d2d));
	background: -webkit-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -o-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: -ms-linear-gradient(top, #555555 0%, #2e2d2d 100%);
	background: linear-gradient(to bottom, #555555 0%, #2e2d2d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#2e2d2d', GradientType=0 );
	border: 1px #333232 solid;
	-moz-box-shadow: 0 1px 0px #767575 inset;
	-webkit-box-shadow: 0 1px 0px #767575 inset;
	box-shadow: 0 1px 0px #767575 inset;
	color: #e8e6e6;
	font-size: 20px;
	line-height: 30px;
	text-shadow: 1px 1px 0 #2f2f2f;
	padding: 2px 10px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	display: inline-block;
}
/*Tab Css Start*/
.tabs-style {
	margin: 30px 0;
}
.nav-tabs {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00adef+0,00d8f4+53,0286f2+100 */
	background: rgb(0,173,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,173,239,1) 0%, rgba(0,216,244,1) 53%, rgba(2,134,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,173,239,1) 0%, rgba(0,216,244,1) 53%, rgba(2,134,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,173,239,1) 0%, rgba(0,216,244,1) 53%, rgba(2,134,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adef', endColorstr='#0286f2', GradientType=0 ); /* IE6-9 */
	width: 100%;
	border: 1px #009bbd solid;
	-moz-box-shadow: inset 0px 1px 0 #00cef2;
	-webkit-box-shadow: inset 0px 1px 0 #00cef2;
	box-shadow: inset 0px 1px 0 #00cef2;
	margin-bottom: 15px;
}
.nav-tabs>li>a {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: none;
	color: #fff;
	margin-bottom: 0;
	border: none;
	position: relative;
	cursor: pointer;
	box-shadow: none;
	font: normal 18px/36px 'Oswald', sans-serif;
	border-radius: 0;
	border: none !important;
}
.nav-tabs>li.active a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67b6bf+0,066ec9+100 */
	background: rgb(103,182,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(103,182,191,1) 0%, rgba(6,110,201,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(103,182,191,1) 0%, rgba(6,110,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(103,182,191,1) 0%, rgba(6,110,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b6bf', endColorstr='#066ec9', GradientType=0 ); /* IE6-9 */
	border-bottom: 0;
	border-radius: 0;
	color: #fff;
}
.nav-tabs>li.active a:before {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #1478c7;
	display: block;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -10px;
}
.tab-content {
	padding: 0px 15px 15px 15px;
}
.itenary-list {
}
.itenary-list li {
	display: block;
	position: relative;
	list-style: none;
	padding-left: 70px;
	border-bottom: 1px solid #daddde;
	border-top: 1px solid #ececec;
	padding-top: 15px;
	padding-bottom: 15px;
}
.itenary-list li:first-child {
	border-top: none;
}
.itenary-list li:last-child {
	border-bottom: none;
}
.itenary-list b {
	position: absolute;
	top: 11px;
	left: 0;
	display: block;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #f6821f;
}
.tab-content .itenary-list h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 10px 0;
}
.itenary-list p {
}
.itenary-list strong {
	display: block;
}
.tab-content h3 {
	font-family: 'Lato', sans-serif;
	margin: 10px 0;
}
.tab-content ul.list-icons {
}
.tab-content ul.list-icons li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}
.tab-content ul.list-icons li:before, .tab-content ul.list-icons li:after {
	content: "";
	position: absolute;
}
.tab-content ul.list-icons li:before {
	width: 10px;
	height: 10px;
	background-color: #545353;
	display: block;
	border-radius: 3px;
	position: absolute;
	top: 4px;
	left: 0;
}
.tab-content ul.list-icons li:after {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #545353;
	left: 8px;
	top: 5px;
}
.facts-module .box {
	background: rgba(249, 249, 249, .8);
	box-shadow: inset 0 0 7px rgba(0, 0, 0, .12);
	padding: 10px 11px 5px;
}
.facts-module ul li {
	font-size: 0;
	line-height: 0;
	border: 1px solid #d9d9d9;
	margin-bottom: 6px;
	overflow: hidden;
}
.facts-module ul li > * {
	font-size: 14px;
	line-height: 1.5;
	display: inline-block;
	vertical-align: top;
}
.facts-module ul li .dt {
	width: 40%;
	box-shadow: inset 0 1px 0 #fff;
	background: #f9f7f7;
	background: -webkit-linear-gradient(top, #f9f7f7 0%, #fbfbfb 49.88%, #f9f7f7 100%);
	background: linear-gradient(to bottom, #f9f7f7 0%, #fbfbfb 49.88%, #f9f7f7 100%);
	text-transform: capitalize;
	padding: 11px 10px 10px;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.facts-module ul li .dt:before {
	content: "";
	background: #d9d9d9;
	width: 1px;
	position: absolute;
	top: 0;
	left: 100%;
	bottom: -999px;
}
.facts-module ul li .dd {
	width: 60%;
	padding: 11px 10px 10px;
	background: #fff;
}
.facts-module ul li .text {
	display: block;
	position: relative;
	padding-right: 100px;
}
.facts-module ul li .text a {
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	border-bottom: 1px solid #005496;
}
.facts-module ul li .text a:hover {
	border-bottom: 1px solid transparent;
}
.facts-module ul li .text [class^="icon-"] {
	margin-right: 5px;
}
.icon-facts:before {
	content: "\e918";
}
.modal.in .modal-dialog .modal-content {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 400px;
}
	/* Let's get this party started */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar {
 width: 12px;
}
 
/* Track */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -webkit-border-radius: 10px;
 border-radius: 10px;
}
 
/* Handle */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
 border-radius: 10px;
 background: rgba(48,113,169,0.8);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(48,113,169,0.4);
}
.tab-content>.active {
	opacity: 1;
}
ul.facts li {list-style: none;padding: 10px 0;border-bottom: 1px solid #ccc;}
ul.facts li:last-child { border-bottom: none;}
ul.facts li b {width: 30%;display: inline-block;}

.itenary_list {
}
.itenary_list li {
	list-style: none;
	position: relative;
	padding-left: 60px;
	margin-bottom: 10px;
}
.itenary_list li span {
	display: inline-block;
	width: 15%;
	vertical-align: top;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 6px;
}
.itenary_list li p {
	display: inline-block;
	width: 85%;
	vertical-align: top;
	line-height: 24px;
}
.itenary_list li b {position: absolute;top: 0;left: 0;}
.itenary_list li h4.itenary-title { margin-bottom: 5px;}


p.wrong {
	display: none;
}
p.wrong.shake {
	display: block;
}
p.wrong.shake {
	animation: shake .4s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
 @keyframes shake {
 10%, 90% {
 transform: translate3d(-1px, 0, 0);
}
 20%, 80% {
 transform: translate3d(1px, 0, 0);
}
 30%, 50%, 70% {
 transform: translate3d(-2px, 0, 0);
}
 40%, 60% {
 transform: translate3d(2px, 0, 0);
}
}
.controls img {
	height: 20px;
	margin: 0 auto;
}
.captcha-chat {
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
}
.controls .btn-common {
	height: 47px;
	width: 47px;
	display: inline-block;
	vertical-align: middle;
}
.controls input.user-text {
	height: 47px;
	width: auto;
	line-height: 47px;
	padding: 10px 15px;
}